// Footer
.footer {
  .links {
    user-select: none;

    .icon{
      animation: icon-color 5s ease infinite;
    }
  }
}

@keyframes icon-color {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  50% {
    color: #23a6d5;
  }
  75% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}
