@use "ColorPalette" as CP;

html {
  background-color: CP.getColor(background, primary);
  color: CP.getColor(text, primary);
  scroll-behavior: smooth;
}

.navItemIsActive {
  background-color: CP.getColor(primary);
}