/* changing scroll bar */
::-webkit-scrollbar {
  width: 7px;
  height: 3.5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(31, 41, 55);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

// General Global css
.text-stroke-min {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.text-stroke-sm {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

// Hero Section
.BBILogo {
  scale: 1;
  border-radius: 20%;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.2;
    border-radius: 50%;
  }
}

// About

.pfp {
  border-radius: 50% 50% 50% 50% / 30% 30% 30% 30%;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    border-radius: 80% 80% 80% 80% / 30% 30% 30% 30%;
  }
}
