// Import
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

// Variables
$primary: #2e94c5;
$secondary: #287fca;
$dark: #1a202c;

// Scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(100deg, rgb(0, 0, 0) 11%, rgb(16, 44, 50) 92%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border: 2px solid rgba(255, 255, 255, 0.78);
    border-radius: 64px;
}

// Navbar
.navbar {
    user-select: none;
    overflow-wrap: break-word;
    border-radius: 64px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: nav 8.5s ease infinite;
    background-size: 1000% 1000%;

    .nav-item {
        overflow-x: scroll;

        #nav-item:hover {
            transition: 0.5s;
        }
    }
    .nav-item::-webkit-scrollbar {
        height: 2px;
    }
    .nav-item::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 64px;
    }
}

.contact-header {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: nav 8.5s ease infinite;
    background-size: 1000% 1000%;
}

// Navbar Animation
@keyframes nav {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// Main body
.main-content {
    overflow-wrap: break-word;
}

// Hero Section
.hero {
    .hero-heading {
        a {
            animation: hero-heading 7s ease infinite;
        }
    }
}

// Hero Animation
@keyframes hero-heading {
    0% {
        color: #ee7752;
    }
    25% {
        color: #e73c7e;
    }
    50% {
        color: #23a6d5;
    }
    75% {
        color: #23d5ab;
    }
    100% {
        color: #ee7752;
    }
}
// Skills section
.skills {
    .skills-heading {
        a {
            animation: skills-heading 6s ease infinite;
        }
    }

    .skills-btn {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 200% 200%;
    }

    .skills-btn:hover {
        animation: skills-btn 5s ease infinite;
    }

    .skills_lang {
        a {
            animation: skills_lang_name 4s ease infinite;
        }

        .default_lang_bar {
            width: 5%;
            background: linear-gradient(to bottom right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            animation: default_lang_bar 1s ease infinite;
            background-size: 130% 130%;
        }

        .python_skill_bar {
            animation: python_skill_bar 5s ease;
            width: 92%;
        }

        .html_skill_bar {
            animation: html_skill_bar 6s ease;
            width: 98%;
        }

        .css_skill_bar {
            animation: css_skill_bar 5.5s ease;
            width: 95%;
        }

        .js_skill_bar {
            animation: js_skill_bar 4s ease;
            width: 52%;
        }

        .cs_skill_bar {
            animation: cs_skill_bar 3.5s ease;
            width: 11%;
        }
    }
}

// skills Animation
@keyframes skills-heading {
    0% {
        color: #25b378;
    }
    25% {
        color: #ff00d4;
    }
    50% {
        color: #00f7ff;
    }
    75% {
        color: #e44e4e;
    }
    100% {
        color: #25b378;
    }
}

@keyframes skills-btn {
    0% {
        background-position: 0% 45%;
    }
    25% {
        background-position: 45% 75%;
    }
    50% {
        background-position: 75% 100%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@keyframes skills_lang_name {
    0% {
        color: #ff00d4;
    }
    40% {
        color: #00f7ff;
    }
    65% {
        color: #e06614;
    }
    100% {
        color: #ff00d4;
    }
}

@keyframes python_skill_bar {
    0% {
        width: 1%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 92%;
    }
}

@keyframes html_skill_bar {
    0% {
        width: 1%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 98%;
    }
}

@keyframes css_skill_bar {
    0% {
        width: 1%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 95%;
    }
}

@keyframes js_skill_bar {
    0% {
        width: 1%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 52%;
    }
}

@keyframes cs_skill_bar {
    0% {
        width: 1%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 11%;
    }
}

@keyframes default_lang_bar {
    0% {
        background-position: 0% 45%;
    }
    25% {
        background-position: 45% 75%;
    }
    50% {
        background-position: 75% 100%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

// Error Page
.error-page {
    .error-heading {
        a {
            user-select: none;
            animation: error-heading 8s ease infinite;
        }
    }

    .gb-btn {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        animation: gb-btn 5s ease infinite;
        background-size: 200% 200%;
    }
}

// Footer
.footer {
    .img {
        user-select: none;
    }
}

// Error page Animation
@keyframes error-heading {
    0% {
        color: #ee7752;
    }
    25% {
        color: #e73c7e;
    }
    50% {
        color: #23a6d5;
    }
    75% {
        color: #23d5ab;
    }
    100% {
        color: #ee7752;
    }
}

@keyframes gb-btn {
    0% {
        background-position: 0% 45%;
    }
    25% {
        background-position: 45% 75%;
    }
    50% {
        background-position: 75% 100%;
    }
    75% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

// xl size
@media screen and (min-width: 960px) {
    // Navbar
    .navbar {
        margin: 20px;
    }
}

// lg size
@media screen and (min-width: 768px) {
    // Navbar
    .navbar {
        margin: 20px;
    }
}

// md size
@media screen and (min-width: 600px) {
    // Navbar
    .navbar {
        margin: 15px;
        padding-left: 2.5px;
    }
}

// sm size
// @media screen and (min-width: 280px) {
// }

// base size
@media screen and (min-width: 0px) {
    // Navbar
    .navbar {
        margin: 13px;
        padding-left: 20px;
    }
}
