// Navbar
.navbar {
  user-select: none;
  overflow-wrap: break-word;
  border-radius: 64px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: nav 8.5s ease infinite;
  background-size: 1000% 1000%;

  li {
    list-style: none;
  }

  .nav-item {
    overflow-x: scroll;

    #nav-item:hover {
      transition: 0.5s;
    }
  }
  .nav-item::-webkit-scrollbar {
    height: 4px;
  }
  .nav-item::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 64px;
  }
}

.credit-header {
  background: linear-gradient(-45deg, #e65f35, #9c2452, #0c7da7, #04ff64);
  animation: nav 8.5s ease infinite;
  background-size: 1000% 1000%;
}

.c-item-header {
  background: linear-gradient(45deg, #0c7da7, #04ff64, #e65f35, #9c2452);
  animation: nav 8.5s ease infinite;
  background-size: 1000% 1000%;
}

.c-item-content {
  background: linear-gradient(-45deg, #04ff64, #0c7da7, #e73c7e, #ee7752);
  animation: nav 8.5s ease infinite;
  background-size: 1000% 1000%;
}

.contact-header {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: nav 8.5s ease infinite;
  background-size: 1000% 1000%;
}

// Navbar Animation
@keyframes nav {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
