// Blog Page
.blog {
  li {
    list-style: none;
  }

  .heading {
    animation: post-heading 7s ease infinite;
  }

  .search-bar:focus {
    animation: search-bar 5s ease infinite;
    border: 2px solid;
  }

  .posts {
    .title {
      animation: title 7s ease infinite;
    }
  }
}

// Blog Animation
@keyframes title {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  50% {
    color: #23a6d5;
  }
  75% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}

@keyframes post-heading {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  50% {
    color: #23a6d5;
  }
  75% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}

@keyframes search-bar {
  0% {
    border-color: #ee7752;
  }
  25% {
    border-color: #e73c7e;
  }
  50% {
    border-color: #23a6d5;
  }
  75% {
    border-color: #23d5ab;
  }
  100% {
    border-color: #ee7752;
  }
}
