.blogpost {
  hr {
    animation: hr_line 3s ease-in-out infinite;
  }

  .title {
    animation: title 7s ease infinite;
  }

  .gb-btn {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gb-btn 5s ease infinite;
    background-size: 200% 200%;
  }

  .content {
    pre {
      font-weight: 1000;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 15px;
      padding: 10px;
      overflow: auto;
      margin-top: 10px;

      code {
        font-weight: 900;
        background-color: transparent;
        border-radius: 0;
        padding: 0x;
      }
    }

    pre::-webkit-scrollbar {
      height: 10px;
    }

    code {
      font-weight: 900;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 8px;
      padding: 2px;
      padding-top: 6px;
    }

    h1 {
      font-size: 35px;
      font-weight: 1000;
      animation: title 7s ease infinite;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 30px;
      font-weight: 1000;
      animation: title 7s ease infinite;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    h3 {
      margin-top: 50px;
      font-weight: 700;
      font-size: 25px;
    }

    h6 {
      font-size: 40px;
      font-weight: 1000;
      animation: title 7s ease infinite;
      text-align: center;
    }

    p {
      font-size: 18px;
    }

    li {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50px;
      margin-right: 50px;
      font-size: 18px;
      text-align: left;
    }

    ul {
      margin-bottom: 20px;
    }

    a {
      font-size: 18px;
      color: rgb(27, 118, 238);
    }

    a:hover {
      text-decoration: underline;
    }

    hr {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    img{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

// BlogPost animation
@keyframes hr_line {
  0% {
    background-color: #d53f8c;
  }
  50% {
    background-color: #dd6b20;
  }
  100% {
    background-color: #d53f8c;
  }
}
