// Variables
$primary: #2e94c5;
$secondary: #287fca;
$dark: #1a202c;

.blogpost {

  .content {
    pre {
      font-weight: 1000;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 15px;
      padding: 1%;
      overflow: auto;
      margin-top: 10px;
      margin-left: 3%;
      margin-right: 3%;

      code {
        font-weight: 900;
        background-color: transparent;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    pre::-webkit-scrollbar {
      height: 5px;
    }

    code {
      font-weight: 900;
      background-color: rgba(0, 0, 0, 0.35);
      border-radius: 8px;
      padding-left: 10px;
      padding-right: 10px;
    }

    h1 {
      font-size: 35px;
      font-weight: 1000;
      color: $secondary;
      margin-top: 2%;
      margin-bottom: 1px;
    }

    h2 {
      font-size: 30px;
      font-weight: 1000;
      color: $primary;
      margin-top: 2%;
      margin-bottom: 2px;
      margin-right: 2%;
      margin-left: 2%;
    }

    h3 {
      margin-top: 1%;
      margin-bottom: 1%;
      font-weight: 700;
      font-size: 25px;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }

    h6 {
      font-size: 40px;
      font-weight: 1000;
      color: $primary;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: justify;
      margin-right: 3%;
      margin-left: 3%;
    }

    li {
      margin-top: 1%;
      margin-bottom: 1%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 18px;
      text-align: left;
    }

    ul {
      margin-bottom: 2%;
    }

    a {
      font-size: 18px;
      color: $secondary;
    }

    a:hover {
      text-decoration: underline;
    }

    hr{
      margin-top: 2%;
      margin-bottom: 2%;
    }

    img{
      margin: 1%;
      margin: auto;
    }
  }
}