// About Section
.about {
  .about-heading {
    .about-head {
      animation: about-heading 7s ease infinite;
    }
  }

  .about-content {
    b {
      background-color: #23b1cb;
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 10px;
    }
  }

  .gear-head,
  .software-head {
    animation: about-heading 5s ease infinite;
  }

  .gears-item,
  .software-item {
    animation: about-item 10s ease-in-out infinite;
    user-select: none;
  }
}

// About Animation
@keyframes about-heading {
  0% {
    color: #ee7752;
  }
  25% {
    color: #e73c7e;
  }
  50% {
    color: #23a6d5;
  }
  75% {
    color: #23d5ab;
  }
  100% {
    color: #ee7752;
  }
}

@keyframes about-item {
  0% {
    color: #00bbff;
  }
  25% {
    color: #56d6b8;
  }
  50% {
    color: #05ff6d;
  }
  75% {
    color: #df5f90;
  }
  100% {
    color: #00bbff;
  }
}
