// Import
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

// Variable
$bg-color: #111827;
$text-color: white;
$primary-color: #2e94c5;
$secondary-color: #287fca;

// Everything
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    color: $text-color;
    max-width: 850px;
    margin: auto;
    margin-top: 25px;
    font-family: "Yusei Magic";
}

.container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 25px;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: $text-color;
}

// Navbar
.navbar {
    background-color: black;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    animation: navbar ease-in-out 2s;

    .brand-name {
        padding-left: 20px;

        a {
            font-size: 21px;
        }
    }

    nav {
        padding-top: 2px;
        max-width: 80%;

        a {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 15px;
            border-radius: 25px;
        }

        a:hover {
            transition: 0.5s;
            background-color: $primary-color;
            cursor: pointer;
        }
    }
}

@keyframes navbar {
    from{
        max-width: 350px;
        overflow: hidden;
    }
    to{
        max-width: 100%;
    }
}

// Index
.index {
    .hero {
        display: flex;

        .hero-img-hand-device {
            user-select: none;
            display: none;
        }
        .hero-img-pc{
            user-select: none;
        }

        .hero-content {
            max-width: 600px;

            h1 {
                margin-top: 20px;
                font-size: 50px;
                font-weight: 900;
            }

            p {
                margin-top: 5px;
            }
        }
    }
}

// Footer
footer {
    margin-top: 20px;
    align-items: center;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    font-weight: 900;
    font-family: "Potta One";
    overflow-wrap: break-word;

    b {
        color: #9d86e9;
    }

    strong {
        color: #9d86e9;
        padding-bottom: 1px;
    }

    strong:hover {
        border-bottom: 2px solid #9d86e9;
    }

    .description {
        display: none;
    }

    .social-media {
        margin-top: 7.5px;
        user-select: none;
        align-items: center;

        a {
            cursor: pointer;
            margin: 3px;
        }
    }

    .rights {
        margin-top: 8px;
        font-weight: 800;
    }
}

footer:hover {
    .title {
        display: none;
    }
    .description {
        display: block;
    }
}

// Errorpage
.errorpage {
    margin-top: 200px;
    text-align: center;

    strong {
        color: red;
    }

    h1 {
        font-size: 72px;
        margin-bottom: 40px;
    }

    p {
        max-width: 80%;
        margin: auto;
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 50px;
    }

    input[type="submit"] {
        font-size: 25px;
        padding: 10px;
        border: none;
        border-radius: 25px;
        background-color: $secondary-color;
        outline: none;
        margin-bottom: 20px;
    }

    input[type="submit"]:hover {
        transition: 0.5s;
        font-size: 30px;
        cursor: pointer;
    }
}

// Tab
@media (max-width: 900px) {
    // Everything
    body {
        margin: 25px;
    }

    .container {
        margin-left: 40px;
        margin-right: 40px;
    }

    // Navbar
    .navbar {
        nav {
            overflow-x: scroll;
            padding-top: 2.5px;
            padding-bottom: 2.5px;

            a {
                padding-bottom: 2.5px;
                padding-top: 2.5px;
            }
        }

        nav::-webkit-scrollbar {
            display: none;
        }
    }

    // Index
    .index {
        .hero {
            display: block;

            .hero-img-hand-device {
                display: block;
            }

            .hero-img-pc {
                display: none;
            }

            .hero-content {
                max-width: 580px;
                margin: auto;
                margin-left: 20px;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
    }

    // Errorpage
    .errorpage {
        h1 {
            font-size: 32px;
        }

        p {
            font-size: 20px;
        }

        input[type="submit"] {
            font-size: 20px;
        }

        input[type="submit"]:hover {
            transition: 0.2s;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

// Mobile
@media (max-width: 600px) {
    // Everything
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }

    // Navbar
    .navbar {
        animation: navbar ease-in-out 2s;
        .brand-name {
            display: none;
        }

        nav {
            margin: auto;
        }
    }

    @keyframes navbar {
        from{
            max-width: 0;
        }
        to{
            max-width: 100%;
        }
    }

    // Index
    // Index
    .index {
        .hero {
            .hero-content {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 15px;
                    margin-top: -5px;
                }
            }
        }
    }

    // Footer
    footer {
        font-size: 13px;
        margin: 20px;
        padding: 12px;
    }

    // Errorpage
    .errorpage {
        h1 {
            font-size: 25px;
        }

        p {
            font-size: 17px;
        }

        input[type="submit"] {
            font-size: 17px;
        }

        input[type="submit"]:hover {
            transition: 0.2s;
            font-size: 22px;
            cursor: pointer;
        }
    }
}

// Small Mobile
@media (max-width: 280px) {
    // Everything
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }

    // Navbar
    .navbar {
        nav {
            padding-top: 0;
            a {
                font-size: 13px;
            }
        }
    }

    // Index
    .index {
        .hero {
            .hero-content {
                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }

    // Footer
    footer {
        margin: 15px;
        padding: 10px;
    }
    // Errorpage
    .errorpage {
        margin-top: 100px;

        h1 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
        }

        input[type="submit"] {
            font-size: 15px;
        }

        input[type="submit"]:hover {
            transition: 0.2s;
            font-size: 20px;
            cursor: pointer;
        }
    }
}
